<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" >
    <title>Welcome to Raspberry Pi Music Server</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./static/css/font-awesome.min.css">
    -->
    <link rel="stylesheet" href="./static/css/style.css" type="text/css">
</head>
<body >
<div id="app" >
    <div class="title-container">
    <div class="title" ><p>Welcome to Raspberry Pi Server</p></div>
    </div>

    <div class="section-container">
    <div class="sec-1"><p>Audio Output to PC's Speaker</p></div>
    </div>
    
    <div class="banner-container">
    <div class="audiobox"><p v-model="filePc">%{filePc}%</p></div>
    </div>
    <div style="display:none" ><audio id="my-audio" controls> <source src="{{filePc}}" type="audio/mpeg">    你的瀏覽器不支援 audio tag！ </audio></div>
    <div class="button-container">
            <button type="text" class="key-button" v-model="num4dPc[0]">%{num4dPc[0]}% %{num4dPc[1]}% %{num4dPc[2]}% %{num4dPc[3]}%</button>
            <button type="button" class="key-button" v-on:click="keyInputPc(0)">0</button>
            <button type="button" class="key-button" v-on:click="keyInputPc(1)">1</button>
            <button type="button" class="key-button" v-on:click="keyInputPc(2)">2</button>
            <button type="button" class="key-button" v-on:click="keyInputPc(3)">3</button>
            <button type="button" class="key-button" v-on:click="keyInputPc(4)">4</button>
            <button type="button" class="key-button" v-on:click="keyInputPc(5)">5</button>
            <button type="button" class="key-button" v-on:click="keyInputPc(6)">6</button>
            <button type="button" class="key-button" v-on:click="keyInputPc(7)">7</button>
            <button type="button" class="key-button" v-on:click="keyInputPc(8)">8</button>
            <button type="button" class="key-button" v-on:click="keyInputPc(9)">9</button>
            <button type="button" class="key-button" v-on:click="setPlayModePc" v-if="musicPcPlayMode==0"><i class="fa fa-shuffle"></i></button>
            <button type="button" class="key-button" v-on:click="setPlayModePc" v-if="musicPcPlayMode==1"><i class="fa fa-repeat"></i></button>
            <button type="button" class="key-button" v-on:click="setPlayModePc" v-if="musicPcPlayMode==2"><i class="fa fa-repeat"></i></button>
    </div>

    <div class="button-container">
            <button type="button" class="key-button" v-on:click="playPrePc"><i class="fa fa-fast-backward"></i></button>
            <button type="button" class="key-button" v-on:click="playPausePc" v-if="musicPcPlaying"><i class="fa fa-pause"></i></button>
            <button type="button" class="key-button" v-on:click="playPausePc" v-else><i class="fa fa-play"></i></button>
            <button type="button" class="key-button" v-on:click="playNextPc"><i class="fa fa-fast-forward"></i></button>
    </div>

   
    <div style="display:none" ><audio id="my-radio"> <source src="https://stream.live.vc.bbcmedia.co.uk/bbc_world_service" type="audio/mpeg">    你的瀏覽器不支援 audio tag！ </audio></div>

    <div class="button-container" >
     <select id="sel10Pc"  class="select-button"  v-on:Change="playRadioPc($event)">
           <option default value="0">網路廣播-1</option>
           <option value="1">BBC World Service <i class="fa fa-bullseye" v-if="radioPlayingPcNo==1"></i></option>
           <option value="2">BBC London</option>
           <option value="3">NPR News</option>
           <option value="4">FOX News</option>
           <option value="5">BBC Radio 5 Live</option>
           <option value="6">BBC Asia Network</option>
           <option value="7">BBC Radio 1</option>
           <option value="8">ICRT</option>
           <option value="9">BBC Radio 2</option>
           <option value="10">Jerry Radio</option>
      </select>
     <select id="sel20Pc" class="select-button"  v-on:Change="playRadioPc($event)">
           <option default value="0">網路廣播-2</option>
           <option value="11">台中古典音樂台</option>
           <option value="12">中廣流行網</option>
           <option value="13">中廣音樂網</option>
           <option value="14">IC之音竹科廣播</option>
           <option value="15">飛碟電台</option>
           <option value="16">中廣新聞網</option>
           <option value="17">BBC Radio 3</option>
           <option value="18">BBC Radio 4</option>
           <option value="19">BBC Radio 6Music </option>
           <option value="20">Classic FM</option>
      </select>
     <select id="sel30Pc" class="select-button"  v-on:Change="playRadioPc($event)">
           <option default value="0">網路廣播-3</option>
           <option value="21">21</option>
           <option value="22">22</option>
           <option value="23">23</option>
           <option value="24">24</option>
           <option value="25">25</option>
           <option value="26">26</option>
           <option value="27">27</option>
           <option value="28">28</option>
           <option value="29">29</option>
           <option value="30">30</option>
      </select>
    </div>
    <div class="button-container" >
            <button type="button" class="key-button" v-on:click="volumeDownPc"><i class="fa fa-volume-low"></i></button>
            <button type="button" class="key-button" v-on:click="volumeUpPc"><i class="fa fa-volume-high"></i></button>
            <button type="button" class="key-button" v-on:click="volumeMutePc"><i class="fa-solid fa-volume-xmark"></i></button>
    </div>
    </br>
    </br>
    <div class="section-container">
        <div class="sec-1"><p>Audio Output to Pi's Speaker</p></div>
    </div>

    <div class="banner-container">
    <div class="banner"><p v-model="filePi">%{filePi}%</p></div>
    </div>

    <div class="button-container">
        <button type="text" class="key-button" v-model="num4dPi[0]">%{num4dPi[0]}% %{num4dPi[1]}% %{num4dPi[2]}% %{num4dPi[3]}%</button>
        <button type="button" class="key-button " v-on:click="keyInputPi(0)">0</button>
        <button type="button" class="key-button" v-on:click="keyInputPi(1)">1</button>
        <button type="button" class="key-button" v-on:click="keyInputPi(2)">2</button>
        <button type="button" class="key-button" v-on:click="keyInputPi(3)">3</button>
        <button type="button" class="key-button" v-on:click="keyInputPi(4)">4</button>
        <button type="button" class="key-button" v-on:click="keyInputPi(5)">5</button>
        <button type="button" class="key-button" v-on:click="keyInputPi(6)">6</button>
        <button type="button" class="key-button" v-on:click="keyInputPi(7)">7</button>
        <button type="button" class="key-button" v-on:click="keyInputPi(8)">8</button>
        <button type="button" class="key-button" v-on:click="keyInputPi(9)">9</button>
        <button type="button" class="key-button" v-on:click="setPlayModePi" v-if="musicPiPlayMode==1"><i class="fa fa-shuffle"></i></button>
        <button type="button" class="key-button" v-on:click="setPlayModePi" v-if="musicPiPlayMode==2"><i class="fa fa-repeat"></i></button>
        <button type="button" class="key-button" v-on:click="setPlayModePi" v-if="musicPiPlayMode==3"><i class="fa fa-repeat"></i></button>
    </div>
    <div class="button-container">
        <button type="button" class="key-button" v-on:click="playPrePi"><i class="fa fa-fast-backward"></i></button>
        <button type="button" class="key-button" v-on:click="playPausePi" v-if="musicPiPlaying"><i class="fa fa-pause"></i></button>
        <button type="button" class="key-button" v-on:click="playPausePi" v-else><i class="fa fa-play"></i></button>
        <button type="button" class="key-button" v-on:click="playNextPi"><i class="fa fa-fast-forward"></i></button>
    </div>

    <div class="button-container" >
     <select id="sel10Pi" class="select-button"  v-on:Change="playRadioPi($event)">
           <option default value="0">網路廣播-1</option>
           <option value="1">BBC World Service <i class="fa fa-bullseye" v-show=true></i></option>
           <option value="7">BBC Radio 1</option>
           <option value="2">BBC London</option>
           <option value="3">NPR News</option>
           <option value="4">FOX News</option>
           <option value="5">BBC Radio 5 Live</option>
           <option value="6">BBC Asia Network</option>
           <option value="8">ICRT</option>
           <option value="10">Jerry Radio</option>
           <option value="9">BBC Radio 2</option>
      </select>
     <select id="sel20Pi" class="select-button" v-on:Change="playRadioPi($event)">
           <option default value="0">網路廣播-2</option>
           <option value="11">台中古典音樂台</option>
           <option value="12">中廣流行網</option>
           <option value="13">中廣音樂網</option>
           <option value="14">IC之音竹科廣播</option>
           <option value="15">飛碟電台</option>
           <option value="16">中廣新聞網</option>
           <option value="17">BBC Radio 3</option>
           <option value="18">BBC Radio 4</option>
           <option value="19">BBC Radio 6Music </option>
           <option value="20">Classic FM</option>
      </select>
     <select id="sel30Pi" class="select-button"  v-on:Change="playRadioPi($event)">
           <option default value="0">網路廣播-3</option>
           <option value="21">BBC 1</option>
           <option value="22">BBC 2</option>
           <option value="23">BBC 3</option>
           <option value="24">BBC 4</option>
           <option value="25">BBC 5</option>
           <option value="26">BBC 6</option>
           <option value="27">BBC 7</option>
           <option value="28">BBC 8</option>
           <option value="29">BBC 9</option>
           <option value="30">BBC 10</option>
      </select>
     </div>



    <div class="button-container">
        <button type="button" class="key-button" v-on:click="volumeDownPi"><i class="fa fa-volume-low"></i></button>
        <button type="button" class="key-button" v-on:click="volumeUpPi"><i class="fa fa-volume-high"></i></button>
        <button type="button" class="key-button" v-on:click="volumeMutePi"><i class="fa-solid fa-volume-xmark"></i></button>
    </div>
 
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./static/js/play.js"></script>

</div>
</body>
</html>
